{% extends 'instagram/layout.html' %}
{% load bootstrap4 %}
{% block content %}
<!-- 파일일 경우엔 entype을 꼭 기입 -->
    <form action="" method="post" entype="multipart/form-data">
        {% csrf_token %}
        <!-- 선택 1 -->
        {% bootstrap_form form %}
        <!-- 선택 2 -->
        <!-- <table>
            {{ form }}
            form.as_table / form.as_ul 등을 쓸 수 있음
        </table> -->
        <!-- 선택 1 -->
        {% buttons %}
            <button class="btn btn-primary">
                저장
            </button>
        {% endbuttons %}
        <!-- 선택 2 -->
        <!-- <input type="submit" value="저장" /> -->
    </form>
    <hr/>
    {% if post %}
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">
            내용으로
        </a>
    {% endif %}
    <a href="{% url 'instagram:post_list' %}" class="btn btn-primary">목록</a>
{% endblock %}